services:
  tg-bot:
    build: .
    container_name: tg_trigger_bot
    restart: always
    env_file:
      - .env
    volumes:
      - ./db.json:/app/db.json
      - ./src/const/media:/app/src/const/media
    environment:
      - NODE_ENV=production
    deploy:
      resources:
        limits:
          memory: 150M   
        reservations:
          memory: 64M